.registration-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #555;
}

input,
select {
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: auto;
  margin: 0.5rem 0;
}

.submit-button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #ff5a5f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  }

.submit-button:hover {
  background-color: #e04a4f;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .submit-button {
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
  }
}
/* Dodajemy styl dla przycisku "Informacje o badaniu" */
.info-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.info-button:hover {
  background-color: #0056b3;
}

/* Styl dla dymka z informacjami o badaniu */
.info-popup {
  display: none; /* Domyślnie ukrywamy dymek */
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 90%;
  max-width: 300px;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 10;
}

.info-popup.visible {
  display: block; /* Pokazujemy dymek, gdy jest aktywny */
}

.info-popup h2 {
  margin-top: 0;
  font-size: 1.25rem;
  color: #333;
}

.info-popup p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0;
}

/* Styl dla krzyżyka zamykającego dymek */
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

/* Media query dla mniejszych ekranów */
@media (max-width: 768px) {
  .info-button {
    bottom: 10px; /* Przycisk pozostaje na dole */
    right: 10px;
  }

  .info-popup {
    bottom: 50px; /* Dymek pozostaje nad przyciskiem */
  }

  .submit-button {
    margin-bottom: 50px; /* Dodajemy odstęp poniżej przycisku Zarejestruj */
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
  }
}

.flag-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60 px;
}

.flag-container img {
  width: 40px; /* Ustaw pożądany rozmiar */
  height: auto;
  margin: 0 10px;
  cursor: pointer;
}