/* Ustawienie pełnej wysokości dla korzenia aplikacji */
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%; /* Ustawienie określonej szerokości kontenera */
  max-width: 1200px;
  margin: auto;
  flex: 1;
}

.content {
  flex: 1; /* Wypełnia pozostałą przestrzeń */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowanie zawartości w pionie */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .App-header {
      font-size: calc(8px + 2vmin);
  }
}
