/* Footer.css */
.footer {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    margin: 1rem 0; /* Dodanie marginesu dla przestrzeni między stopką a treścią */
}

.footer p {
    margin: 0;
}
